page-login {
    .login-box{
        margin-top: 30%;
    }
    .login{
        display: block;
        margin:  10% auto 0;
        width: 60%;
    }
    .find-password {
        text-align: right;
        margin-right: 0.8em;
        line-height: 40px;
        font-size: 1em;
        color:blue;
    }
}

